.Box_formulaire
{
    display: flex;
    flex-flow: column;
    align-items: center;
    .Border_formulaire
    {
        width: 80%;
        display: flex;
        flex-flow: column;
        align-items: center;
        border: 4px #A54657 solid;
        border-radius: 15px;
        background-color: white;
        input
        {
            border: 2px #A54657 solid;
            border-radius: 15px;
        }
        textarea
        {
            border: 2px #A54657 solid;
        }
    }
}