.Box_resumer_annonce
{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .Border_resumer 
    {
        padding: 2%;
        border: 4px #A54657 solid;
        border-radius: 15px;
        @media screen and (min-width: 768px) {
            width: 80%;
        }
        @media screen and (min-width: 1200px) {
            width: 65%;
        }
        p
        {
            font-family: "lobster",Arial, Helvetica, sans-serif ;
            color: #044488;
            font-size: 1em;
            @media screen and (min-width: 1200px) {
                font-size: 1.5em;
            }
        }
    }
}