@media screen and (min-width:360px) and (max-width:1000px)
{
    .Box_prix_titre {
        margin-bottom: 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 10px;

        strong {
            text-align: center;
            color: white;
            font-family: "Lobster", Arial, Helvetica, sans-serif;
            font-size: 2em;

            @media screen and (min-width: 576px) {
                font-size: 3em;
            }

            @media screen and (min-width: 768px) {
                font-size: 4em;
            }
        }

        .Border_prix {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 60px;
            border: 2px #044488 solid;
            background-color: #044488;
            border-radius: 15px;

            @media screen and (min-width: 576px) {
                height: 100px;
            }

            @media screen and (min-width: 768px) {
                height: 140px;
            }

            .fa-solid.fa-euro-sign {
                color: #A54657;
                margin-left: 2%;
                font-size: 2em;

                @media screen and (min-width: 576px) {
                    font-size: 3em;
                }

                @media screen and (min-width: 768px) {
                    font-size: 4em;
                }
            }
        }

        .Border_titre {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 50px;
            border: 2px #044488 solid;
            border-radius: 15px;

            @media screen and (min-width: 576px) {
                height: 90px;
            }

            @media screen and (min-width: 768px) {
                height: 130px;
            }

            h3 {
                color: #A54657;
                font-family: "Lobster", Arial, Helvetica, sans-serif;
                font-size: 1em;

                @media screen and (min-width: 576px) {
                    font-size: 2em;
                }

                @media screen and (min-width: 768px) {
                    font-size: 3em;
                }
            }

            .fa-solid.fa-house-chimney {
                margin-left: 2%;
                color: #044488;

                @media screen and (min-width: 576px) {
                    font-size: 2em;
                }

                @media screen and (min-width: 768px) {
                    font-size: 3em;
                }
            }
        }
    }
}