.Box_logo
{
    margin-top: 5%;
    .lot_3_icon
    {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        font-size: 3em;
        color: #9c2b40;
        @media screen and (min-width: 1200px) {
            font-size: 4em;
        }
        .column_icon
        {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
        }
        p
        {
            margin-top: 2px;
            text-align: center;
            font-size: 0.5em;
            font-family: "Lobster", Arial, Helvetica, sans-serif;
            color: #044488;
        }
    }
}