.Box_formulaire
{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 5%;
    .Border_formulaire
    {
        padding: 5%;
        width: 80%;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 5%;
        border: 4px #A54657 solid;
        border-radius: 15px;
        background-color: white;
        input
        {
            border: 2px #A54657 solid;
            border-radius: 15px;
            width: 100%;
            font-family: "style script",Arial, Helvetica, sans-serif;
            font-size: 1.5em;
        }
        textarea
        {
            border: 2px #A54657 solid;
            width: 100%;
            font-family: "style script",Arial, Helvetica, sans-serif;
            font-size: 1.5em;
            height: 80%;
        }
    }
}