.Box_resumer_annonce
{
    margin-top: 20px;
    .Border_resumer 
    {
        padding: 2%;
        border: 4px #A54657 solid;
        border-radius: 15px;
        p
        {
            font-family: "lobster",Arial, Helvetica, sans-serif ;
            color: #044488;
        }
    }
}