
    .Header_titre
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3%;
        height: 50px;
        .fa-solid.fa-bars
        {
            font-size: 3em;
            color: #044488;
            @media screen and (min-width: 576px)
            {
               font-size: 4em;
            }
        }
        h1
        {
            color: #A54657;
            font-family: "Style Script",Arial, Helvetica, sans-serif;
            width: 70%;
            font-size: 2em;
            margin: 0px;
            @media screen and (min-width: 576px)
            {
               font-size: 3em;
            }
        }
    }